body,html{
    height: 100%;
    margin:0 auto;
}   

.link{
    text-decoration-style: wavy;
    color: #bf4b60);
    padding: 10px 15px;
    font-family: arial;
} 
.link:hover{
    background-color:#021859;
    color:white;
}
.home{
    width: 100%;
    height: 100%;
    background-image: url(http://getwallpapers.com/wallpaper/full/0/a/c/564421.jpg);
    background-size: auto;
    text-align: auto;
    text-size-adjust: auto;
    margin: auto;
}
/*heading*/
.heading-1{
    font-family: arial;
    font-size: 50px;
    color:#011640;
    margin:auto;
    font-style: normal;
    text-align: center;
}
.heading-2{
    font-family: open sans extra bold;
    font-size: 35px;
    color:#011640;
    margin: auto;
    text-align: left;

}
.heading-3{
    font-family: sans-serif;
    font-size: 18px;
    color:#011640;
    margin: auto;
    text-align: justify;
    text-indent: 2px;
    word-spacing: 2px;
    page-break-after: right;
}
.heading-4{
    font-family: open sans extra bold;
    font-size: 18px;
    color: #011640;
    margin: auto;
    align-content: center;
    
}
/**Section Content**/
.content{
    width: 100%;
    min-height: 400px;
    background-position: center;
    padding: 100px 0px;
}

/**content 2**/
.content2{
    background: #9784d9;
    width: 100%;
    min-height: 100%;
    padding: 50px 0px;
}
.col-border{
    min-height: 100px;
    border: solid 5px #011640;
    text-align: center;
    padding:10px 0px;
}